@import "tailwindcss";
@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-bgMove {
  animation: bgMove 25s ease infinite;
}

